/* line 5, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/screen.scss */
html {
  box-sizing: border-box;
}

/* line 7, ../sass/screen.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 11, ../sass/screen.scss */
body {
  font-family: sans-serif;
}

/* line 15, ../sass/screen.scss */
p {
  line-height: 1.5;
  margin-bottom: 10px;
}

/* line 20, ../sass/screen.scss */
a {
  color: #4078c0;
}

/* line 24, ../sass/screen.scss */
.hide {
  display: none;
}

/* line 28, ../sass/screen.scss */
.hero {
  margin: 10px 0;
}

/* line 32, ../sass/screen.scss */
.expand-collapse {
  width: 400px;
  margin: 0 auto;
  margin-top: 40px;
}

/* line 38, ../sass/screen.scss */
h1 {
  font-size: 2rem;
  text-align: center;
  margin: 20px 0;
}

/* line 44, ../sass/screen.scss */
.description {
  width: 500px;
  margin: 0 auto;
}

/* line 49, ../sass/screen.scss */
.links {
  width: 500px;
  text-align: center;
  padding-top: 50px;
  line-height: 2;
  margin: 0 auto;
}

/* line 59, ../sass/screen.scss */
.expand-collapse {
  border: 1px solid #000;
  overflow: hidden;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

/* line 65, ../sass/screen.scss */
.header {
  background: #EEE;
  padding: 10px;
  outline: 1px solid #000;
}
/* line 69, ../sass/screen.scss */
.header::before {
  content: "";
  height: 36px;
  width: 36px;
  padding-left: 36px;
  background-position: 36px;
  transition: all 0.4s ease-in-out;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="36px" height="46.588px" viewBox="0 0 36 46.588" enable-background="new 0 0 36 46.588" xml:space="preserve"><g><path d="M14.072,15.795c-0.23,0.23-0.23,0.609,0,0.838l7.409,7.403l-7.409,7.411c-0.23,0.229-0.23,0.606,0,0.838c0.229,0.231,0.608,0.231,0.839,0l7.822-7.812c0.116-0.121,0.166-0.264,0.166-0.428c0-0.146-0.05-0.31-0.166-0.425l-7.822-7.811C14.68,15.564,14.302,15.564,14.072,15.795L14.072,15.795z"/></g></svg>');
}
/* line 79, ../sass/screen.scss */
.header.expanded::before {
  content: "";
  height: 36px;
  width: 36px;
  padding-left: 36px;
  background-position: 36px;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="36px" height="46.588px" viewBox="0 0 36 46.588" enable-background="new 0 0 36 46.588" xml:space="preserve"><g><path d="M25.838,20.181c-0.218-0.219-0.579-0.219-0.798,0l-7.036,7.044l-7.042-7.044c-0.22-0.219-0.579-0.219-0.798,0c-0.22,0.22-0.22,0.578,0,0.798l7.425,7.435c0.113,0.109,0.25,0.158,0.406,0.158c0.138,0,0.293-0.049,0.403-0.158l7.424-7.435C26.057,20.759,26.057,20.399,25.838,20.181L25.838,20.181z"/></g></svg>');
}

/* line 90, ../sass/screen.scss */
.content-container {
  max-height: 0;
}
/* line 92, ../sass/screen.scss */
.content-container.expanded {
  -webkit-animation-name: down;
  animation-name: down;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 100, ../sass/screen.scss */
.content-container.collapsed {
  animation-name: up;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}

/* line 107, ../sass/screen.scss */
.content {
  padding: 20px;
}

@keyframes down {
  0% {
    max-height: 0;
  }
  80% {
    max-height: 1000px;
  }
  100% {
    max-height: 1600px;
  }
}
@keyframes up {
  0% {
    max-height: 1600px;
  }
  20% {
    max-height: 1000px;
  }
  100% {
    max-height: 0;
  }
}
